body{
    background: url('./assets/img/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    /* background-color: #04AA6D; */
}
.header {
    overflow: hidden;
    color: #f1f1f1;
    background-color: #392a48;
    padding: 20px 10px;
    opacity: 0.8;

}

.header h1.logo {
    float: center;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-div {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #f1f1f1;
    background-color: #392a48;    
    width: 25%;

}

.button {
    background-color: #392a48;
    border-width: 2px;
    border-color: #f1f1f1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px;
    cursor: pointer;
}
footer{
    opacity: 0.8;
    color: #f1f1f1;
    background-color: #392a48;
}


.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:768px) {
    .centered-div {
        width: 100%;
    }
    .column {
        width: 100%;
    }
}
form{
    display: block;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input {
    width: 80%;
    background-color: #392a48;
    border-width: 2px;
    border-color: #f1f1f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
  }
    
  input[type=submit] {
    background-color: #392a48;
  }
  
  input[type=submit]:hover {
    background-color: rgba(87, 53, 255, 0.162)
  }