body {
    background: url('./assets/img/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: #04AA6D; */
}

.header {
    overflow: hidden;
    color: #f1f1f1;
    background-color: #392a48;
    padding: 20px 10px;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;

}

.header h1.logo {
    float: center;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-right {
    display: flex;
    justify-content: left;
    align-items: left;
}

.centered-div {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #f1f1f1;
    background-color: #392a48;
    width: 25%;

}

#questions-container {
    position: static;
    top: 50%;
    width: 100%;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    color: #f1f1f1;
    background-color: #392a48;
}

.right-div {
    top: 50%;
    font-size: 18px;
    color: #f1f1f1;
    background-color: #392a48;
    width: 25%;

}

.button {
    background-color: #392a48;
    border-width: 2px;
    border-color: #f1f1f1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px;
    cursor: pointer;
}

footer {
    opacity: 0.8;
    color: #f1f1f1;
    background-color: #392a48;

}


.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:768px) {
    .centered-div {
        width: 100%;
    }

    .column {
        width: 100%;
    }
}

form {
    display: block;
}


input[type=text] {
    width: 80%;
    background-color: #392a48;
    border-width: 2px;
    border-color: #f1f1f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

input[type=email] {
    width: 80%;
    background-color: #392a48;
    border-width: 2px;
    border-color: #f1f1f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

input[type=submit] {
    background-color: #392a48;
    width: 80%;
    background-color: #392a48;
    border-width: 2px;
    border-color: #f1f1f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(87, 53, 255, 0.162);
    width: 80%;
    border-width: 2px;
    border-color: #f1f1f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}


.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    color: #392a48;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}

.popup-content button {
    display: block;
    margin: 0 auto;
}

.show {
    display: block;
}